*{
    font-family: 'Open Sans', sans-serif;
}

body {
width: 100%;
height: 100vh;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: .5fr repeat(3, 1fr) .7fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}  

nav {
    grid-column: 1/3;
    grid-row: 1/2;
    background: #EBF4FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3% 0 3%;
}

header {
    grid-column: 1/3;
    grid-row: 2/3;
    background: #EBF4FF;
    padding-left:16%;
    line-height: 1cm;
}

.sectionOne {
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    padding: 5% 10% 5% 10%;
    justify-content: space-evenly;
}

.sectionTwo {
    grid-column: 1/3;
    grid-row: 4/5;
    display: flex;
    flex-direction: row;
    padding: 5% 10% 5% 10%;
    justify-content: space-evenly;
}


footer {
    grid-column: 1/3;
    grid-row: 5/6;
    color: white;
    background-color: #334aae;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 2rem;
}

.logo {
    width: 160px;
    height: 160px;
}

.contactBtn {
    margin: auto;
    width: 327px;
    height: 71px;
    color: white;
    background-color: #354cb3;
    border: 3px solid white;
    border-radius: 36px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
}

.contactBtn:hover {
     background: white;
     color: #354cb3;
     border: 3px solid #354cb3;
}

.demoBtn {
width: 327px;
height: 71px;
background: #2979EC;
border-radius: 36px;
border: none;
color: white;
font: normal normal bold 25px/34px Open Sans;
}

.demoBtn:hover {
     background: white;
     color: #2979EC;
     border: 3px solid #2979EC;

}

.sectionImg {
    width: 30vw;
    min-width: 300px;
    background: transparent ;
}

.contentCopy {
    width: 30vw;
    min-width: 300px;
}

.missionStatement {
    font-size: 1.7rem;
    max-width: 700px;
    padding-bottom: 10%;
}

h1 {
    font-size: 4rem;
}

h1 .bold {
    padding-top: -20px;
}

h3 {
    font-size: 2em;
}

h2 {
    font-size: 2.3rem;
}

